<div class="container mt-5 mb-5">
    <div class="bg-danger p-4 rounded-4 text-white shadow-lg">
        <h2 class="border-bottom pb-2">Hotel Reservation Form</h2>

        <div class="alert alert-warning text-dark mt-3 shadow-sm border-0">
            <strong>Room Selected:</strong> {{ roomName }} 
            <span class="badge bg-dark ms-2">{{ roomPrice }} OMR</span>
        </div>

        <form #bookingForm="ngForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Full Name:</label>
                    <input type="text" class="form-control text-dark" 
                           [(ngModel)]="guestName" name="fullName"
                           placeholder="Type your name...">
                    
                    <div *ngIf="guestName" class="mt-2 text-warning small">
                        Welcome, <strong>{{ guestName }}</strong>!
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Email Address:</label>
                    <input type="email" class="form-control text-dark" 
                           [(ngModel)]="guestEmail" name="email">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Check-in Date:</label>
                    <input type="date" class="form-control text-dark" 
                           [(ngModel)]="checkInDate" name="checkIn">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label fw-bold">Check-out Date:</label>
                    <input type="date" class="form-control text-dark" 
                           [(ngModel)]="checkOutDate" name="checkOut">
                </div>
            </div>

            <div class="d-flex gap-2">
               
                <button type="button" class="btn btn-warning flex-grow-1 fw-bold py-2" (click)="onConfirmBooking()">
                    Confirm My Booking
                </button>
                
          
                <button type="button" class="btn btn-outline-light fw-bold py-2" (click)="onReset()">
                    Reset
                </button>
            </div>

            <!-- عرض الرسالة -->
            <div *ngIf="confirmationMessage" class="mt-4 p-3 bg-dark rounded border border-warning">
                <h4 class="text-warning">Booking Status:</h4>
                <p class="mb-0 fs-5">{{ confirmationMessage }}</p>
            </div>
        </form>
    </div>
</div>