<section id="rooms" class="py-5 bg-light">
    <div class="container">
        
        <div class="text-center mb-5">
            <!-- Interpolation: Showing the hotel name from TS file -->
            <h2 class="fw-bold display-5">{{ hotelName }}</h2>
            <p class="text-muted">Find your perfect stay</p>
        </div>

        <!-- Filter Bar -->
        <div class="row g-3 mb-5 p-4 bg-white rounded shadow-sm border">
            <div class="col-md-6">
                <label class="form-label fw-bold">Search:</label>
                <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" class="form-control" placeholder="Search room name...">
            </div>

            <div class="col-md-6">
                <label class="form-label fw-bold">Max Price: {{ maxPrice }} OMR</label>
                <input type="range" class="form-range" [(ngModel)]="maxPrice" (input)="applyFilter()" min="40" max="220" step="10">
            </div>
        </div>

        <!-- Booking Message -->
        <div class="alert alert-info text-center" *ngIf="bookingMessage">
            {{ bookingMessage }}
        </div>

        <!-- Rooms Listing -->
        <div class="row g-4">
            <div *ngFor="let room of filteredRooms" class="col-md-4">
                
                <app-room-card [roomData]="room" (roomSelected)="onBookRoom($event)"></app-room-card>
            </div>
        </div>

    </div>
</section>