
.hero-banner {
 background-image: url('../../assets/lobby hotel.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100Vh; 
  position: relative;
  margin-left: calc(-50Vw + 50%);
  margin-right: calc(-50Vw + 50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.z-index-1 {
  z-index: 1;
}
.btn-light:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
    transition: 0.3s;
}